* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html {
    font-size: 16px;
}


body {
    font-size: 1.6rem;
    font-family: 'Abel', sans-serif;
    background-color: #212529;

}

a {
    text-decoration: none;
}

/*navbar*/

nav {
    background-color: #212529;
    font-family: 'Libre Baskerville', serif;
    border-bottom: 1px solid #6C757D;

}


.navbar-brand {
    color: #ADB5BD;
    transition: .5s all;
}

.navbar-brand:hover,
.navbar-nav a:hover {
    color: #CED4DA;
}

.navbar-brand i {
    font-size: 2rem;
}




.navbar-nav a {
    
    color: #ADB5BD;
    font-size: .7rem;
    letter-spacing: .1rem;
    transition: .5s all;
}





/*about me*/

.about-me-container {
    background-color: #343A40;
}


#AboutMe {
    padding-top: 8rem;
    background-image: url(about-background.png);
    margin-bottom: 0;
    background-size: cover;


}



.jumbotron-header h1 {
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 3px solid #ADB5BD;
    display: inline-block;
    color: #ADB5BD;
    font-size: 4.5rem;
    text-shadow: 1px 2px #FFF;
    transition: all .5s;

}

.jumbotron-header h1:hover {
    padding-right: 4rem;
    padding-left: 4rem;
}


#Profil {
    width: 100%;
    opacity: .8;
    border-radius: .4rem;
    transition: all .5s;
}

#Profil:hover {
    opacity: 1;
}

#about-header h1,
h2 {
    color: #CED4DA;
    text-shadow: 2px 2px #fff;
    opacity: .7;
    transition: all .3s;
    letter-spacing: .1rem;
}


#about-header h1:hover,
h2:hover {
    opacity: 1;

}



#LearnMore {
    border: none;
    background-color: #212529;
    color: rgb(255, 255, 255);
    opacity: .7;
    transition: .5s all;
    border: 1px solid #ADB5BD;

}

#LearnMore:hover {
    opacity: 1;
    color: #212529;
    background-color: rgba(255, 255, 255, .9);
    border: 1px solid #212529;

}


#muted-about-text {
    color: white;
    opacity: .8;
    line-height: 1.7rem;

}

#muted-about-text .spanFirst {
    color: #ADB5BD;
    text-shadow: 2px 2px #FFF;
    font-size: 3rem;
    margin: 0;
}

#muted-about-text .spanSecond {
    
    font-size: 1rem;
    margin: 0;

}



/*carousel*/


.carousel-container {
    background: rgb(22, 23, 27);
    background: -moz-linear-gradient(115deg, rgba(22, 23, 27, 1) 25%, rgba(173, 181, 189, 1) 92%);
    background: -webkit-linear-gradient(115deg, rgba(22, 23, 27, 1) 25%, rgba(173, 181, 189, 1) 92%);
    background: linear-gradient(115deg, rgba(22, 23, 27, 1) 25%, rgba(173, 181, 189, 1) 92%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#16171b", endColorstr="#adb5bd", GradientType=1);


}





#slider {
    height: 30rem;
    padding-top: 3rem;
    border-top: 1px solid #6C757D;
    border-bottom: 1px solid #6C757D;
}

.carousel-inner {
    width: 100%;
    height: 90%;
}

.img {
    background-position: top;
    background-size: cover;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: .5rem;
    transition: .5s all;
    border: 2px solid #6C757D;

}

#img1 {
    background-image: url(aof-ana-sayfa.png);


}

#img2 {
    background-image: url(Untitled2.png);
}

.carousel-item {
    height: 100%;
}


#img1 h1 {
    font-size: 3rem;
    border: 3px solid #ADB5BD;
    border-radius: 14px;
    background-color: #343A40;
    width: 20rem;
    opacity: 0;
    transition: 1s all;
    color: white;
    font-family: 'Amatic SC', cursive;
    text-shadow: 2px 2px #ADB5BD;
    padding: .5rem;

}


#img1:hover .h1 {
    width: 25rem;
    font-size: 4rem;
    opacity: 1;
}


#img2 h1 {
    font-size: 3rem;
    border: 3px solid #ADB5BD;
    border-radius: 14px;
    background-color: #343A40;
    opacity: 0;
    width: 15rem;
    transition: 1s all;
    color: white;
    font-family: 'Amatic SC', cursive;
    text-shadow: 2px 2px #ADB5BD;
    padding: .5rem;
}



#img2:hover #second-h2 {
    width: 18rem;
    font-size: 4rem;
    opacity: 1;
}






/*PROJECTS COL ROW*/


.projects-row {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    background-color: #3A5426;
    border-top: 1px solid #3A5426;
    border-bottom: 1px solid #3A5426;
}

.projects-col {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Amatic SC', cursive;
    margin-bottom: 1.5rem;
    padding: .5rem;
    border: 3px solid #709255;



}



.projects-col h1 {
    margin: 0;
    text-align: center;

}


.projects-col h1 a {
    color: white;
    transition: all .5s;
}

.projects-col h1 a:hover {

    text-decoration: none;
    color: #709255;
    text-shadow: 2px 2px white;
}




/*contact*/

.contact-container {
    
    background-color: rgb(33,37,41);
    border-top: 1px solid #6c757d;
    
    
}

.contact-container .row .col-3 {
    color: #ADB5BD;


}


.contact-col {
    padding: .5rem;
    border-bottom: 1px solid #343a40;

}



.col-icon {
    width: 3rem;
    height: 3rem;
    color: #ced4da;
    background: #343A40;
    border-radius: 50%;
    border: 1px solid #ADB5BD;
    transition: .5s all;

}

.col-icon:hover {
    background-color: #ADB5BD;
    color: #212529;
    border: 1px solid #343A40;
}


.contact-text {
    width: 45%;
}




.contact-text h5 {
    color: #ced4da;
    font-family: 'Amatic SC', cursive;
    margin: 0;
    font-size: 2rem;
}

.contact-text p {
    
    font-family: "font-family: 'Libre Baskerville', serif;";
    color: #ced4da;
    font-size: .79rem;
}






.sosyal {
    text-decoration: none;
    color: #ced4da;
    font-size: 1rem;

}

.sosyal:hover {
    text-decoration: none;
    color: #212529;
}




/*Copyright*/


.copyright{
    border-top: 2px solid #6c757d;
    background-image: url(about-background.png);
    background-position: center;
    background-size: cover;
    padding: 2rem;
    color: #ced4da;
}













/*small devices(sm)*/
@media (min-width: 576px) {

    html {
        font-size: 17px;
    }


    .contact-col {
        border-left: 1px solid #343a40;
    }
    
    
    .contact-col:first-child {
        border-left: none;
    }
    


}

/*medium devices(md)*/
@media (min-width: 768px) {

    html {
        font-size: 16px;
    }


}


/*large devices(lg)*/
@media (min-width: 992px) {

    .contact-col {
        border-bottom: none;
        border-left: none;
    }
    
    .contact-text {
        width: 75%;
    }
}


/*small devices(xl)*/
@media (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}
